{{/* Configure P-to-P interfaces */}}

{{ range $name, $link := .clab_links }}
{{ if $link.port }}
/ interface {{ $link.port }} subinterface 0 ipv4 address {{ $link.clab_link_ip }}
/ interface {{ $link.port }} subinterface 0 description {{ $link.clab_link_name }}
/ network-instance default interface {{ $link.port }}.0
{{- end }}
{{- end }}

{{/* Configure system interface */}}
/ interface system0 admin-state enable subinterface 0 ipv4 address {{ .system_ip }}/32
/ network-instance default type default
/ network-instance default interface system0.0

{{/* policy to allow system ip */}}
/ routing-policy
/ routing-policy prefix-set system_ip
/ routing-policy prefix-set system_ip prefix {{ .system_ip }}/32 mask-length-range exact
/ routing-policy policy system_ip
/ routing-policy policy system_ip statement 10
/ routing-policy policy system_ip statement 10 match prefix-set system_ip
/ routing-policy policy system_ip statement 10 action accept

{{/* Underlay Config */}}
/ network-instance default protocols bgp router-id {{ .system_ip }}
/ network-instance default protocols bgp autonomous-system {{ .as }}
/ network-instance default protocols bgp ebgp-default-policy import-reject-all false
/ network-instance default protocols bgp ebgp-default-policy export-reject-all false
/ network-instance default protocols bgp group underlay timers connect-retry 1
/ network-instance default protocols bgp group underlay timers minimum-advertisement-interval 1
/ network-instance default protocols bgp group underlay ipv4-unicast admin-state enable
/ network-instance default protocols bgp group underlay export-policy system_ip

{{/* Configure underlay ebgp on links */}}
{{- range $name, $link := .clab_links -}}
  {{- if true }}
/ network-instance default protocols bgp neighbor {{ ip $link.clab_far.clab_link_ip }} peer-group underlay
/ network-instance default protocols bgp neighbor {{ ip $link.clab_far.clab_link_ip }} peer-as {{(index $.clab_nodes $link.clab_far.clab_node).as}}
  {{- end -}}
{{- end -}}

{{- if $.static_route_prefix }}
/ network-instance default static-routes route {{ $.static_route_prefix }} next-hop-group blackhole
/ network-instance default next-hop-groups group blackhole admin-state enable blackhole
/ routing-policy prefix-set system_ip prefix {{ $.static_route_prefix }} mask-length-range exact
{{- end -}}

{{/* RR Config, unless disabled */}}
{{- if $.overlay_as }}
/ network-instance default protocols bgp group RR timers connect-retry 1
/ network-instance default protocols bgp group RR timers minimum-advertisement-interval 1
{{/* / network-instance default protocols bgp group RR evpn admin-state enable */}}
/ network-instance default protocols bgp group RR ipv4-unicast admin-state enable
/ network-instance default protocols bgp group RR transport local-address {{ .system_ip }}
/ network-instance default protocols bgp group RR peer-as {{ $.overlay_as }}
/ network-instance default protocols bgp group RR local-as {{ $.overlay_as }}

{{- if not .cluster_id }}
  {{- range $name, $node := $.clab_nodes }}
    {{- if .cluster_id }}
/ network-instance default protocols bgp neighbor {{ $node.system_ip }} peer-group RR
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- if .cluster_id }}
/ network-instance default protocols bgp group RR route-reflector client true
/ network-instance default protocols bgp group RR route-reflector cluster-id {{ .cluster_id }}
/ network-instance default protocols bgp dynamic-neighbors accept match 0.0.0.0/0 peer-group RR
{{- end -}}
{{- end -}}
