{{/* Configure P-to-P interfaces */}}

{{ range $name, $link := .clab_links }}
{{- if $link.port }}
/ configure port {{ $link.port}} connector breakout c1-100g
/ configure port {{ $link.port}} admin-state enable
/ configure port {{ $link.port}}/1 admin-state enable
/ configure router interface {{ $link.clab_link_name }} port {{ $link.port}}/1
{{- if $link.clab_link_ip }}
/ configure router interface {{ $link.clab_link_name }} ipv4 primary address {{ ip $link.clab_link_ip }} prefix-length {{ ipmask $link.clab_link_ip }}
{{- end }}
{{- end }}
{{- end -}}

{{/* Configure system interface */}}
{{- if .system_ip }}
/ configure router interface system ipv4 primary address {{ .system_ip }}
/ configure router interface system ipv4 primary prefix-length 32

{{/* policy to allow system ips - including those from neighbors */}}
/ configure policy-options prefix-list system_ip prefix {{ .system_ip }}/32 type exact
/ configure policy-options prefix-list system_ip prefix 0.0.0.0/0 type range start-length 32 end-length 32
/ configure policy-options policy-statement system_ip entry 10 from prefix-list system_ip
/ configure policy-options policy-statement system_ip entry 10 action action-type accept
{{- end }}

{{/* Configure anycast loopback interface and rewrite policies */}}
{{- if .anycast_nexthop_ip }}
/ configure router interface lo0 loopback ipv4 primary address {{ .anycast_nexthop_ip }}
/ configure router interface lo0 ipv4 primary prefix-length 32

/ configure policy-options as-path "ANYCAST-AS" expression "{{ $.anycast_as }}"

{{/* policy to allow anycast ip */}}
/ configure policy-options prefix-list anycast_ip prefix {{ .anycast_nexthop_ip }}/32 type exact
/ configure policy-options policy-statement system_ip entry 5 from prefix-list anycast_ip
/ configure policy-options policy-statement system_ip entry 5 action action-type accept
/ configure policy-options policy-statement system_ip entry 5 action as-path replace "ANYCAST-AS"

{{/* policy to rewrite nexthop/AS-path of external routes to anycast, to be applied towards RR in overlay (only) */}}
/ configure policy-options delete policy-statement rewrite_nexthop_to_anycast
/ configure policy-options policy-statement rewrite_nexthop_to_anycast entry 10 from prefix-list external_routes
/ configure policy-options policy-statement rewrite_nexthop_to_anycast entry 10 action action-type accept
/ configure policy-options policy-statement rewrite_nexthop_to_anycast entry 10 action next-hop {{ .anycast_nexthop_ip }}
{{/* Rewriting the AS path is optional, it helps to see which routes are anycasted */}}
/ configure policy-options policy-statement rewrite_nexthop_to_anycast entry 10 action as-path replace "ANYCAST-AS"
/ configure policy-options policy-statement rewrite_nexthop_to_anycast default-action action-type reject
{{- end }}

{{- if .as }}
{{/* Underlay Config */}}
# / configure router autonomous-system {{ $.overlay_as }}
/ configure router autonomous-system {{ $.as }}
/ configure router bgp ebgp-default-reject-policy import false
/ configure router bgp ebgp-default-reject-policy export false
/ configure router bgp min-route-advertisement 1 connect-retry 5
{{/* / configure router bgp group underlay family ipv4 true */}}
/ configure router bgp group underlay export policy system_ip
# / configure router bgp group underlay local-as as-number {{ $.as }} prepend-global-as false private true
{{- end }}

{{/* Configure underlay ebgp on links */}}
{{- range $name, $link := .clab_links }}
  {{- if true }}
/ configure router bgp neighbor {{ ip $link.clab_far.clab_link_ip }} group underlay description "{{ $link.clab_far.clab_node }}"
/ configure router bgp neighbor {{ ip $link.clab_far.clab_link_ip }} peer-as {{(index $.clab_nodes $link.clab_far.clab_node).as}}
  {{- end -}}
{{- end -}}

{{/* RR Config */}}
/ configure router bgp group RR family ipv4 true
/ configure router bgp group RR peer-as {{ $.overlay_as }}
/ configure router bgp group RR local-as as-number {{ $.overlay_as }}
{{- if .anycast_nexthop_ip }}
/ configure router bgp group RR export policy rewrite_nexthop_to_anycast
{{- end }}
{{- range $name, $node := $.clab_nodes }}
{{- if .cluster_id }}
/ configure router bgp neighbor {{ $node.system_ip }} group RR description "RR"
{{- end -}}
{{- if .static_route_prefix }}
/ configure policy-options prefix-list external_routes prefix {{ .static_route_prefix }} type exact
{{- end -}}
{{- end -}}
